{% extends 'BlogBundle::layout.html.twig' %}

{% block title %} {{ parent () }} - Post {% endblock %}

{% block pageImage %} background-image: url('{{ asset('bundles/blog/images/branche.jpg') }}') {% endblock %}

{% block body %}
    <h1 class="text-center">Ajouter un post</h1>

    {{ form(form) }}

{% endblock %}
