{% extends 'BlogBundle::layout.html.twig' %}

{% block title %} {{ parent () }} - Login {% endblock %}

{% block body %}
<h1 class="text-center">Connexion</h1>
<div class="container">
    {% render path('fos_user_security_login') %}
</div>
{% endblock %}
