{% extends 'BlogBundle::layout.html.twig' %}

{% block title %} {{ parent () }} - Register {% endblock %}

{% block body %}
    <div class="container">
        <p class="text-center">L'inscription c'est bien passée. Vous pouvez maintenant ajouter des posts ! </p>
        
    </div>
{% endblock %}
