{% extends 'BlogBundle::layout.html.twig' %}

{% block title %} {{ parent () }} - Post {% endblock %}

{% block body %}
    <h1 class="text-center">Modifier un post</h1>
 <div class="container">
    {{ form(form) }}
 </div>

{% endblock %}
